@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
	--primary-pink: hsl(322, 100%, 66%);
	--neutral-pale-cyan: hsl(193, 100%, 96%);
	--neutral-dark-cyan: hsl(192, 100%, 9%);
	--neutral-gray-blue: hsl(208, 11%, 55%);
	--font-family-headings: 'Poppins', sans-serif;
	--font-family-body: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family-body);
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	text-decoration: none;
	text-decoration: none;
	border: none;
	box-shadow: 4px 4px 16px -10px var(--neutral-gray-blue);
	border-radius: 20px;
	font-family: var(--font-family-body);
	font-weight: 700;
	min-height: 40px;
	transition: 0.4s;
}

h1 {
	color: var(--neutral-dark-cyan);
	font-family: var(--font-family-headings);
	font-weight: 600;
	font-size: 40px;
}

h2 {
	color: var(--neutral-dark-cyan);
	font-family: var(--font-family-headings);
	font-weight: 600;
	font-size: 28px;
	margin-bottom: 10px;
}

h4 {
	color: var(--neutral-dark-cyan);
	font-family: var(--font-family-body);
	font-weight: 400;
	font-size: 20px;
	margin: 30px 0 30px 0;
}

h6 {
	color: var(--neutral-pale-cyan);
	font-family: var(--font-family-body);
	font-weight: 400;
	font-size: 16px;
	margin: 10px;
}

span {
	color: var(--neutral-gray-blue);
	font-family: var(--font-family-body);
	font-weight: 400;
	font-size: 18px;
}

.container {
	max-width: 1440px;
}

.home {
	background-color: var(--neutral-pale-cyan);
	background-image: url('./images/bg-hero-desktop.svg');
	background-position: center;
	background-repeat: no-repeat;
	padding: 045px 0 50px 0;
}

.bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 50px 0 50px;
}

.bar img {
	width: 200px;
}

.bar button {
	background-color: white;
	color: var(--neutral-dark-cyan);
	min-width: 180px;
	min-height: 50px;
	font-size: 16px;
	border-radius: 60px;
}

.bar button:hover {
	background-color: var(--primary-pink);
	cursor: pointer;
}

.hero {
	display: flex;
	margin-top: 74px;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 50%;
	margin: 0 25px 0 50px;
}

.info button {
	background-color: var(--primary-pink);
	min-width: 300px;
	min-height: 60px;
	border-radius: 80px;
	color: white;
	padding: 0px;
	font-size: 16px;
	z-index: 1;
}

.info button:hover {
	background-color: white;
	color: var(--neutral-dark-cyan);
	cursor: pointer;
}

.mockups {
	width: 47%;
	margin: 0 40px 20px 80px;
}

.cards {
	padding: 100px 60px 60px 60px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 380px;
	border-radius: 10px;
	margin: 20px;
	padding: 30px 20px 30px 80px;
	box-shadow: 0px 0px 17px -10px var(--neutral-gray-blue);
}

.card div {
	width: 40%;
}

.card img {
	width: 35%;
	margin: 20px 0 20px 0;
}

footer {
	background-color: var(--neutral-dark-cyan);
	color: white;
	min-height: 380px;
	padding: 130px;
	margin-top: 250px;
}

.card__ready {
	position: absolute;
	min-width: 800px;
	min-height: 280px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
	box-shadow: 0px 0px 17px -10px var(--neutral-gray-blue);
	margin-top: -300px;
	left: 24%;
}

.card__ready button {
	background-color: var(--primary-pink);
	min-width: 380px;
	min-height: 80px;
	color: white;
	border-radius: 60px;
	padding: 0px;
	font-size: 20px;
}

.card__ready h1 {
	font-size: 32px;
	margin-bottom: 25px;
}

.card__ready button:hover {
	background-color: white;
	color: var(--neutral-dark-cyan);
	cursor: pointer;
}

footer img {
	width: 240px;
	margin-top: 100px;
}

.contact {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.block {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.contact img {
	width: 14px;
	margin-top: 16px;
	margin-right: 10px;
}

footer span {
	float: right;
	color: var(--neutral-pale-cyan);
	font-size: 9px;
	margin-top: 5px;
}

.social {
	margin-right: 80px;
}

.social img {
	width: 24px;
	margin: 0;
}
